.unitImg {
    width: 500px;
}

.unitStanceImg {
    width: 400px;
}

.col {
    padding: 20px;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#mainContainer {
    max-width: none;
    text-align: center;
}